<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <p>made by <a href="https://mxb.dev">Max Böck</a></p>
        <p>powered by <a href="https://webmention.io/">webmention.io</a> and <a href="https://www.11ty.dev/">Eleventy</a></p>
        <p>{% icon "github" %} <a href="https://github.com/maxboeck/webmention-analytics">fork this on Github</a></p>
    </div>
</footer>