<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <a href="/">Webmention Analytics</a> | <span>{{ meta.domain }}</span>
        </div>
        <div class="header__right">
            {% set lastFetchedDate = webmentions.lastFetched|dateFromISO %}
            Last Fetched: {{ lastFetchedDate|dateToFormat("cccc, dd.MM.yyyy HH:mm") }}
        </div>
    </div>
</header>