<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <div class="header__logo">
                <a href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 200 200"><path d="M92.789 145c6.221-20 12.423-38.641 18.623-57.903.165.031.33.085.496.116C118.216 106.484 124.522 125 130.812 145h24.573c8.405-31 16.803-63 25.249-95h18.09c-7.701-11-15.197-21.865-22.901-33.418C163.472 28.065 151.321 39 138.732 52h17.919c-4.585 19-9.12 38.764-13.654 58.299-.144.014-.287-.234-.432-.221-6.37-19.612-12.738-39.356-19.128-59.029-7.159 0-14.174-.004-21.186-.111-1.601-.024-2.155.55-2.617 1.939-5.779 17.391-11.613 34.746-17.438 52.121-.436 1.299-.903 2.577-1.355 3.869-1.202-3.52-2.033-7.019-2.847-10.519-4.957-21.302-9.93-42.601-14.818-63.917-.354-1.542-.985-2.2-2.417-2.148-2.831.103-5.669-.283-8.505-.283H38.038c9.94 38 19.816 75 29.696 113h25.055z"/><path d="M15 13H1v173h188v-14H15z"/></svg>
                    Webmention Analytics
                </a>
                <a href="https://{{ meta.domain }}" target="_blank" class="header__domain">{{ meta.domain }}</a>
            </div>
        </div>
        <div class="header__right">
            <span class="header__updated u-color-muted">
                {% set lastFetchedDate = webmentions.lastFetched|dateFromISO %}
                Last Updated: {{ lastFetchedDate|dateToFormat("cccc, dd.MM.yyyy - HH:mm") }}
            </span>
            <a href="#dark" class="set-theme set-theme-light">{% icon "moon" %}</a>
            <a href="#light" class="set-theme set-theme-dark">{% icon "sun" %}</a>
            <script>
                let currentTheme;
                function getCurrentTheme() {
                    return document.body.classList.forEach((value, key, listObj) => {
                        if(value.startsWith("theme")) { currentTheme = value.replace("theme-", ""); };
                    });
                };
                getCurrentTheme();
                document.querySelectorAll('.set-theme').forEach(item => {
                    item.style.display = 'none';
                    let newTheme = item.getAttribute("href").replace("#","");
                    item.addEventListener('click', event => {
                        event.preventDefault();
                        getCurrentTheme();
                        document.querySelector(".set-theme-" + currentTheme).style.display = 'none';
                        document.querySelector(".set-theme-" + newTheme).style.display = 'inline-block';
                        document.body.classList.remove("theme-" + currentTheme);
                        document.body.classList.add("theme-" + newTheme);
                    });
                });
                document.querySelector(".set-theme-" + currentTheme).style.display = 'inline-block';
            </script>
        </div>
    </div>
</header>