.report {
    &__banner {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    &__header {
        flex: 1 0 0%;
        text-align: center;
    }
    &__time {
        letter-spacing: 1px;
    }
    &__dirlink {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        font-size: 1.25rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: $bg-color-contrast;

        &--disabled {
            visibility: hidden;
        }

        &[rel='prev'] {
            order: -1;
            margin-right: 1rem;
        }
        &[rel='next'] {
            margin-left: 1rem;
        }
    }
    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include mq(lg) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;

        &--fullwidth {
            grid-column: 1 / -1;
        }
    }
}
