.summary {
    table-layout: fixed;
    width: 100%;

    tbody td {
        width: 16%;
        text-align: right;
    }
    tbody td:first-child {
        width: 20%;
        text-align: left;
    }
    .icon {
        margin-right: 0.25rem;
    }

    @include mq-down(md) {
        tbody td {
            display: block;
            width: 100% !important;
            text-align: left;

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
}
