.tweetlist {
    &__item + &__item {
        margin-top: 2rem;
    }

    a {
        overflow-wrap: break-word;
        word-wrap: break-word; 
        word-break: break-word;
    }
}

twitterwidget::shadow .EmbeddedTweet {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
}