.widget {
    // display: flex;
    // flex-direction: column;
    // flex: 1 0 auto;

    padding: 1rem;
    border: 1px solid $border-color-contrast;
    border-radius: $border-radius;
    background-color: $bg-color-contrast;

    &__title {
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $border-color;
    }
}
