//--------------------
// SCSS VARIABLES
//--------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$breakpoints: (
    md: 670px,
    lg: 940px,
    xl: 1260px
);

$container-max-width: 1200px;

// Z-Index Stack
//
// Control the order of layers in the application
$z-layers: (
    'modal': 999,
    'nav': 100,
    'content-overlay': 30
);

// Colors
//
// Brand Colors

$brand-blue: #00bff8;

// Dark Theme

$gray-darkest: #2e3440;
$gray-dark: #55595c;
$gray: #818a91;
$gray-light: #eceeef;
$gray-lightest: #e6e9ee;
$gray-opaque: rgba(0, 0, 0, 0.15);
$color-likes: #dc3977;
$color-replies: #f0746e;
$color-reposts: #7ccba2;
$color-mentions: #00bff8;
$color-bookmarks: #7c1d6f;
$tooltip-bg-color: #f4c63d;

// Color Mappings

$bg-color: $gray-darkest;
$bg-color-contrast: darken($bg-color, 5%);
$border-color: $gray-darkest;
$border-color-contrast: darken($border-color, 7%);
$text-color: $gray-lightest;
$meta-color: $gray;
$line-color: rgba($text-color, 0.45);
$brand-color-primary: $brand-blue;
$brand-color-primary-offset: darken($brand-blue, 6%);
$bg-color-cell: $gray-opaque;
$tooltip-color: $gray-darkest;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Times New Roman', Georgia, Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Andale Mono', 'Courier New',
    monospace;
$font-family-base: $font-family-sans-serif;

$font-size-root: 100%;
$font-size-base: 1rem;
$line-height: 1.625;

// Animation
//
// Default easing curves, Transitions, etc

$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
$animation-curve-default: $animation-curve-fast-out-slow-in;

// Misc Shared
//
// common shared styles

$spacing-x: 2rem;
$spacing-y: 2rem;

$box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
$box-shadow-elevated: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
$border-radius: 0.5rem;
