<div>
    {% if report.data.sources %}
        <h3>Top Sources</h3>
        <table>
        {% for source in report.data.sources|slice(0, 5) %}
            <tr>
                <th scope="row">
                    {% if source.urls.length > 1 %}
                        {% if source.title == "brid-gy.appspot.com" %}
                            <a href="https://brid.gy/">brid.gy</a>
                        {% else %}
                            {{ source.title }}
                        {% endif %} 
                    {% else %}
                        <a href="{{ source.urls[0] }}">{{ source.title }}</a>
                    {% endif %}
                </th>
                <td>{% icon "like" %} {{ source.count['like-of'] }} <span class="sr-only">Likes</span></td>
                <td>{% icon "reply" %} {{ source.count['in-reply-to'] }} <span class="sr-only">Replies</span></td>
                <td>{% icon "repost" %} {{ source.count['repost-of'] }} <span class="sr-only">Reposts</span></td>
                <td>{% icon "mention" %} {{ source.count['mention-of'] }} <span class="sr-only">Mentions</span></td>
                <td>{% icon "bookmark" %} {{ source.count['bookmark-of'] }} <span class="sr-only">Bookmarks</span></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</div>