<div class="widget widget--sources">
    {% if report.data.sources.length %}
        <h2 class="widget__title">Top Sources</h2>
        {% set tabledata = report.data.sources %}
        {% include "table.njk" %}
    {% else %}
        <p>No sources found yet.</p>
    {% endif %}
</div>