{% if report.data.count %}
<div class="widget widget--summary">
    <h2 class="widget__title">Summary</h2>
    <table class="summary">
        <thead class="sr-only">
            <tr>
                <th>Total</th>
                <th>Likes</th>
                <th>Replies</th>
                <th>Reposts</th>
                <th>Mentions</th>
                <th>Bookmarks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>{{ report.data.count.total }} Webmentions</strong></td>
                <td><span class="u-color-likes">{% icon "like" %}</span> {{ report.data.count['like-of'] }} Likes</td>
                <td><span class="u-color-replies">{% icon "reply" %}</span>  {{ report.data.count['in-reply-to'] }} Replies</td>
                <td><span class="u-color-reposts">{% icon "repost" %}</span>  {{ report.data.count['repost-of'] }} Reposts</td>
                <td><span class="u-color-mentions">{% icon "mention" %}</span>  {{ report.data.count['mention-of'] }} Mentions</td>
                <td><span class="u-color-bookmarks">{% icon "bookmark" %}</span>  {{ report.data.count['bookmark-of'] }} Bookmarks</td>
            </tr>
        </tbody>
    </table>
    
</div>
{% endif %}