<div class="widget widget--targets">
    {% if report.data.targets.length %}
        <h2 class="widget__title">Top Targets</h2>
        {% set tabledata = report.data.targets %}
        {% include "table.njk" %}
    {% else %}
        <p>No targets found yet.</p>
    {% endif %}
</div>