{% if report.data.timeseries %}
<div class="widget widget--timeseries">
    {% if report.data.timeseries %}
        {% barchart report.data.timeseries, report.slug %}
    {% endif %}
</div>
{% endif %}