<div>
    {% if report.data.tweets %}
        <h3>Top Tweets</h3>
        <ol>
        {% for tweet in report.data.tweets|slice(0, 3) %}
            <li>
                <blockquote class="twitter-tweet">
                    <a href="https://twitter.com/{{ meta.handles.twitter }}/status/{{ tweet.title }}">{{ tweet.title }}</a>
                </blockquote> 
            </li>
        {% endfor %}
        </ol>
    {% endif %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>