<div class="widget widget--tweets">
    <h2 class="widget__title">Top Tweets</h2>
    {% if report.data.tweets.length %}
        <ol class="tweetlist">
        {% for tweet in report.data.tweets|slice(0, 4) %}
            {% set tweeturl = tweet.urls|commonURLs|first %}
            <li class="tweetlist__item">
                <blockquote class="twitter-tweet" data-theme="{{ meta.theme }}">
                    <a href="{{ tweeturl }}">{{ tweeturl }}</a>
                </blockquote> 
            </li>
        {% endfor %}
        </ol>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% else %}
        <p>No tweets found yet.</p>
    {% endif %}
</div>