---
layout: base
---

{% set reports = webmentions.children|analytics %}
<div class="container">
    <ol reversed>
    {% for report in reports %}
        <li>
            <h2><a href="/{{report.slug}}/">{{ report.title }}</a></h2>
            {% include "widgets/summary.njk" %}
        </li>
    {% endfor %}
    </ol>
</div>