---
layout: base
---
{% set reports = webmentions.children|analytics %}

<div class="container">
    <h1 class="sr-only">Reports</h1>
    <ol class="reportlist" reversed>
    {% for report in reports %}
        <li class="reportlist__item">
            <div class="reportlist__meta">
                <h2 class="reportlist__title"><a href="/{{report.slug}}/">{{ report.title }}</a></h2>
                <p>{{ report.from|dateFromISO|dateToFormat }} &ndash; {{ report.to|dateFromISO|dateToFormat }}</p>
            </div>
            {% sparkline report %}
            {% include "widgets/summary.njk" %}
        </li>
    {% endfor %}
    </ol>
</div>