---
layout: base
---

<div class="container">
    <h1>{{ report.title }}</h1>
    <p>{{ report.from|dateFromISO|dateToFormat }} &ndash; {{ report.to|dateFromISO|dateToFormat }}</p>

    {% include "widgets/timeseries.njk" %}
    {% include "widgets/summary.njk" %}
    {% include "widgets/sources.njk" %}
    {% include "widgets/targets.njk" %}
    {% include "widgets/tweets.njk" %}

    <pre><code>{{ report.data.tweets|pprint|safe }}</code></pre>
</div>