---
layout: base
---

<div class="container">
    <article class="report">
        <header class="report__banner">
            <div class="report__header">
                <h1 class="report__title">{{ report.title }}</h1>
                <p class="report__time">{{ report.from|dateFromISO|dateToFormat }} &ndash; {{ report.to|dateFromISO|dateToFormat }}</p>
            </div>

            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}" rel="prev" class="report__dirlink">
                    <span class="sr-only">previous report</span>
                    {% icon "arrow-left" %}
                </a>
            {% else %}
                <span class="report__dirlink report__dirlink--disabled" rel="prev"></span>
            {% endif %}

            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}" rel="next" class="report__dirlink">
                    <span class="sr-only">next report</span>
                    {% icon "arrow-right" %}
                </a>
            {% else %}
                <span class="report__dirlink report__dirlink--disabled" rel="next"></span>
            {% endif %}
        </header>

        <div class="report__content">
            <div class="report__item report__item--fullwidth">
                {% include "widgets/timeseries.njk" %}
            </div>

            <div class="report__item report__item--fullwidth">
                {% include "widgets/summary.njk" %}
            </div>

            <div class="report__item report__item--fullwidth">
                {% include "widgets/sources.njk" %}
            </div>

            <div class="report__item report__item--fullwidth">
                {% include "widgets/targets.njk" %}
            </div>

            <div class="report__item report__item">
                {% include "widgets/tweets.njk" %}
            </div>

            <div class="report__item report__item">
                {% include "widgets/flagged.njk" %}
            </div>
        </div>
    </article>
</div>