---
layout: base
---

<div class="container">
    <h1>{{ report.title }}</h1>
    <p>{{ report.from }} to {{ report.to }}</p>

    {% include "widgets/summary.njk" %}
    {% include "widgets/targets.njk" %}
    {% include "widgets/sources.njk" %}

    <pre><code>{{ report|pprint|safe }}</code></pre>
</div>